<div class="hello">
    <div class="about">
        <h1>I am Nikita Manulik<span>.</span></h1>
        <div class="p-block">
            <p>
                I am a Junior Front-end Developer located in Minsk, Belarus. 
                I am currently working on freelance exchanges and am looking 
                for work. I am looking to take on more work and to increase 
                my skills as a Web Developer.
            </p>
        </div>
        <div class="contact">
            <div>
                <div class="contact-type">
                    <p>
                        phone
                    </p>
                </div>
                <div class="contact">
                    <p>
                        +375 (29) 364 57 31
                    </p>
                </div>
            </div>
            <div>
                <div class="contact-type">
                    <p>
                        email
                    </p>
                </div>
                <div class="contact">
                    <p>
                        manuliknikita9@gmail.com
                    </p>
                </div>
            </div>
            <div>
                <div class="contact-type">
                    <p>
                        address
                    </p>
                </div>
                <div class="contact">
                    <p>
                        Timoshenko 28, Minsk, Belarus
                    </p>
                </div>
            </div>
            <div>
                <div class="contact-type">
                    <p>
                        social
                    </p>
                </div>
                <div class="contact">
                    <a href="https://linkedin.com/in/nikita-manulik-61ba681a7" target="_blank">
                        <img src="https://image.flaticon.com/icons/svg/1384/1384014.svg" alt="linkedIn" />
                    </a>
                    <a href="https://t-do.ru/Nikita_Manuliuk" target="_blank">
                        <img src="https://image.flaticon.com/icons/svg/2111/2111710.svg" alt="telegram" />
                    </a>
                    <a href="https://vk.com/id302212926" target="_blank">
                        <img src="https://image.flaticon.com/icons/png/512/2111/2111765.png" alt="vk" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="instagram" />
                    </a>
                </div>
            </div>
        </div>
        <div class="button-block">
            <button class="click">Contact me</button>
            <button class="check"><a href="https://www.canva.com/design/DAD625wgpDE/3As284QVIipG8GgtXATpDA/view?utm_content=DAD625wgpDE&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink" target="_blank">Check my resume</a></button>
        </div>
    </div>
    <div class="img-block">
        <img src="https://previews.aspirity.com/danny/media/hello-section/image.jpg" alt="my photo">
    </div>
</div>

<div class="end-block"></div>