<div class="skills">
    <div class="skills-container">

        <div class="name-of-block">
            <div class="name">
                <h3>Education<span>.</span></h3>
                <div class="p-block">
                    <p>
                        I am inspired by creating great work with 
                        people who are as passionate as I am about 
                        building something awesome.
                    </p>
                </div>
            </div>
            <!-- <div class="image-end">
                <img src="../../../assets/images/image.png" alt="image" />
            </div> -->
        </div>

        <div class="my-skills">
            <div class="name-of-experience">
                <h6>Finished the front-end courses</h6>
                <p>Computer Academy "STEP" | Apr 2019 - Apr 2020</p>
            </div>
            <div class="name-of-experience">
                <h6>Learning English</h6>
                <p>Language school Streamline | Sep 2018 - May 2020</p>
            </div>
        </div>
    </div>
    <div class="end-hr"></div>
</div>