<div class="skills">
    <div class="skills-container">

        <div class="name-of-block">
            <div class="name">
                <h3>Skills<span>.</span></h3>
                <div class="p-block">
                    <p>
                        I am inspired by creating great work with 
                        people who are as passionate as I am about 
                        building something awesome.
                    </p>
                </div>
            </div>
            <!-- <div class="image-end">
                <img src="../../../assets/images/image.png" alt="image" />
            </div> -->
        </div>

        <div class="my-skills">

            <div class="skill">
                <h4>Web Development</h4>
                <div class="p-skills">
                    <p>
                        Javascript, TypeScript, Node.js, MongoDB, WebStorm.
                    </p>
                </div>
            </div>

            <div class="end-block"></div>

            <div class="skill">
                <h4>UI\UX Design</h4>
                <div class="p-skills">
                    <p>
                        Photoshop, Illustrator, Sketch, Axure, XMind, 
                        Prototyping, Wireframing, User Research, Usability Testing.
                    </p>
                </div>
            </div>

            <div class="end-block"></div>

            <div class="skill">
                <h4>Frontend Development</h4>
                <div class="p-skills">
                    <p>
                        HTML, CSS, SASS, Bootstrap, React.js, Angular.js.
                    </p>
                </div>
            </div>

            <div class="end-block"></div>

            <div class="skill">
                <h4>Consulting & SEO Audit</h4>
                <div class="p-skills">
                    <p>
                        Screaming Frog, Woorank, Raventools, Semrush, Moz, 
                        WebCEO, Google Analytics, ChartBeat, CrazyEgg.
                    </p>
                </div>
            </div>

            <div class="end-block"></div>

        </div>
    </div>
    <div class="end-hr"></div>
</div>