<div class="skills">
    <div class="skills-container">

        <div class="name-of-block">
            <div class="name">
                <h3>Experience<span>.</span></h3>
                <div class="p-block">
                    <p>
                        I am inspired by creating great work with 
                        people who are as passionate as I am about 
                        building something awesome.
                    </p>
                </div>
            </div>
            <!-- <div class="image-end">
                <img src="../../../assets/images/image.png" alt="image" />
            </div> -->
        </div>

        <div class="my-skills">
            <div class="name-of-experience">
                <h6>Studied at Junior Front-end Developer</h6>
                <p>Computer Academy "STEP" | Apr 2019 - Apr 2020</p>
            </div>
            <ul>
                <li>Design HTML markup web pages using cascading CSS3 style sheets</li>
                <li>Graphics in web design. Graphics optimization. Hyperlinks Website Navigation Principles.</li>
                <li>Responsive Design, Bootstrap and SASS preprocessor</li>
                <li>Client-side scripting using JavaScript. ECMAScript 6. MVC patterns. AJAX and jQuery</li>
                <li>Using Angular, React frameworks</li>
            </ul>
        </div>
    </div>
    <div class="end-hr"></div>
</div>